# Arquivos e diretórios de compilação
target/
Cargo.lock
**/*.rs.bk
*.exe 
*.pdb

# Arquivos gerados pelo cargo
Cargo.toml.orig

# Arquivos de configuração
.ideavimrc
.tern-project
.idea/

# Arquivos de ambiente
.env

# Arquivos de log
*.log

# Arquivos de backup
*.bak
*.swp

# Arquivos de cache
*.cache

# Diretórios do sistema
/.rustup
/.cargo